include:
  - cloud/compose.yaml
  - media/compose.yaml

# service containers
name: service
services:

  watchtower:
    image: containrrr/watchtower:latest
    init: true
    restart: always
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro

  lldap:
    image: lldap/lldap:stable
    init: true
    restart: always
    networks:
      - default
      - cloud
      - media
    expose:
      - 17170
    env_file:
      - default.env
    environment:
      - LLDAP_LDAP_BASE_DN=dc=viggy96,dc=me
      - LLDAP_JWT_SECRET_FILE=/data/jwt_secret
    volumes:
      - /tank/containers/lldap:/data
    labels:
      - "traefik.enable=true"
      - "traefik.http.services.lldap.loadbalancer.server.port=17170"
      - "traefik.http.routers.lldap.middlewares=local-only@file,private@file"

  pocket-id:
    image: ghcr.io/pocket-id/pocket-id:v2-distroless
    init: true
    restart: always
    read_only: true
    user: '1000:1000'
    networks:
      - default
      - cloud
      - media
    expose:
      - 1411
    depends_on:
      - lldap
    env_file:
      - default.env
      - ./pocket-id/config.env
      - ./pocket-id/ldap_pass.env
    volumes:
      - /tank/containers/pocket-id:/app/data
    healthcheck:
      test: [ "CMD", "/app/pocket-id", "healthcheck" ]
      interval: 1m30s
      timeout: 5s
      retries: 2
      start_period: 10s
    labels:
      - "traefik.enable=true"
      - "traefik.http.services.pocket-id.loadbalancer.server.port=1411"
      - "traefik.http.routers.pocket-id.middlewares=secure@file"
      - "traefik.http.routers.pocket-id.rule=Host(`id.viggy96.me`)"

  traefik:
    image: traefik:latest
    init: true
    restart: always
    networks:
      - default
      - cloud
      - media
    security_opt:
      - no-new-privileges:true
    env_file:
      - ./traefik/secrets.env
    environment:
      - TZ=America/Chicago
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - ./traefik/:/etc/traefik
    ports:
      - 80:80/tcp
      - 443:443/tcp
      - 443:443/udp
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.traefik.middlewares=private@file"
      - "traefik.http.routers.traefik.service=api@internal"

  home-assistant:
    image: homeassistant/home-assistant:stable
    init: true
    restart: always
    expose:
      - 8123
    env_file:
      - default.env
    volumes:
      - /tank/containers/home-assistant:/config
    labels:
      - "traefik.enable=true"
      - "traefik.http.services.home-assistant.loadbalancer.server.port=8123"
      - "traefik.http.routers.home-assistant.middlewares=secure@file"

  www:
    image: viggy96/resume-website:latest
    init: true
    restart: always
    environment:
      - ENV=production
    expose:
      - 443
    labels:
      - "traefik.enable=true"
      - "traefik.http.services.www.loadbalancer.server.port=443"
      - "traefik.http.middlewares.www-rep.redirectregex.regex=^https://viggy96.me/(.*)"
      - "traefik.http.middlewares.www-rep.redirectregex.replacement=https://www.viggy96.me/$${1}"
      - "traefik.http.middlewares.www-rep.redirectregex.permanent=true"
      - "traefik.http.routers.www.middlewares=www-rep,secure@file"

  librespeed:
    image: linuxserver/librespeed:latest
    restart: always
    environment:
      - PUID=33
      - PGID=33
      - TZ=America/Chicago
      - PASSWORD=
    volumes:
      - /tank/containers/librespeed:/config
    expose:
      - 80
    labels:
      - "traefik.enable=true"
      - "traefik.http.services.librespeed.loadbalancer.server.port=80"
      - "traefik.http.middlewares.librespeed-limit.buffering.maxRequestBodyBytes=10000000000"
      - "traefik.http.middlewares.librespeed-limit.buffering.memRequestBodyBytes=10000000000"
      - "traefik.http.middlewares.librespeed-limit.buffering.maxResponseBodyBytes=10000000000"
      - "traefik.http.middlewares.librespeed-limit.buffering.memResponseBodyBytes=10000000000"
      - "traefik.http.routers.librespeed.middlewares=librespeed-limit,private@file"

networks:
  cloud:
  media:
