# media containers
name: media
services:

  jellyfin:
    image: jellyfin/jellyfin:latest
    init: true
    restart: always
    networks:
      - media
    env_file:
      - ../default.env
    group_add:
      - 44
      - 123
    devices:
      - /dev/dri
    volumes:
      - /tmp/jellyfin:/transcodes
      - /tank/containers/jellyfin:/config
      - /tank/containers/jellyfin-cache:/cache
      - /tank/cloud/video:/media/video
      - /tank/cloud/music:/media/music
      - /tank/cloud/books:/media/books
    expose:
      - 8096
    labels:
      - "traefik.enable=true"
      - "traefik.http.services.jellyfin.loadbalancer.server.port=8096"
      - "traefik.http.routers.jellyfin.middlewares=secure@file"

  jellyseerr:
    image: fallenbagel/jellyseerr:latest
    init: true
    restart: always
    networks:
      - media
    env_file:
      - ../default.env
    volumes:
      - /tank/containers/jellyseerr:/app/config
    expose:
      - 5055
    labels:
      - "traefik.enable=true"
      - "traefik.http.services.jellyseerr.loadbalancer.server.port=5055"
      - "traefik.http.routers.jellyseerr.middlewares=secure@file"

  gluetun:
    image: qmcgaw/gluetun:v3
    init: true
    restart: always
    networks:
      - media
    cap_add:
      - NET_ADMIN
    env_file:
      - gluetun.env
    expose:
      - 8080
    ports:
      - 6881:6881/tcp
      - 6881:6881/udp
    labels:
      - "traefik.enable=true"
      - "traefik.http.services.qbittorrent.loadbalancer.server.port=8080"
      - "traefik.http.routers.qbittorrent.middlewares=private@file"
      - "traefik.http.routers.qbittorrent.rule=Host(`qbittorrent.viggy96.me`)"

  qbittorrent:
    image: linuxserver/qbittorrent:latest
    restart: always
    network_mode: service:gluetun
    env_file:
      - ../default.env
    environment:
      - UMASK=022
      - WEBUI_PORT=8080
    depends_on:
      - gluetun
    volumes:
      - /tank/containers/qbittorrent:/config
      - /tank/downloads:/downloads

  nzbget:
    image: linuxserver/nzbget:latest
    restart: always
    networks:
      - media
    env_file:
      - ../default.env
    environment:
      - UMASK=022
    volumes:
      - /tank/containers/nzbget:/config
      - /tank/downloads/nzbget:/downloads
    expose:
      - 6789
    labels:
      - "traefik.enable=true"
      - "traefik.http.services.nzbget.loadbalancer.server.port=6789"
      - "traefik.http.routers.nzbget.middlewares=private@file"

  recyclarr:
    image: recyclarr/recyclarr:latest
    init: true
    restart: always
    user: 33:33
    networks:
      - media
    env_file:
      - ../default.env
    volumes:
      - /tank/containers/recyclarr:/config

  prowlarr:
    image: linuxserver/prowlarr:latest
    restart: always
    networks:
      - media
    env_file:
      - ../default.env
    volumes:
      - /tank/containers/prowlarr:/config
    expose:
      - 9696
    labels:
      - "traefik.enable=true"
      - "traefik.http.services.prowlarr.loadbalancer.server.port=9696"
      - "traefik.http.routers.prowlarr.middlewares=private@file"

  sonarr:
    image: linuxserver/sonarr:latest
    restart: always
    networks:
      - media
    env_file:
      - ../default.env
    volumes:
      - /tank/containers/sonarr:/config
      - /tank/cloud/video/tv:/tv
      - /tank/downloads:/downloads
    expose:
      - 8989
    depends_on:
      - qbittorrent
      - nzbget
      - prowlarr
    labels:
      - "traefik.enable=true"
      - "traefik.http.services.sonarr.loadbalancer.server.port=8989"
      - "traefik.http.routers.sonarr.middlewares=private@file"

  radarr:
    image: linuxserver/radarr:latest
    restart: always
    networks:
      - media
    env_file:
      - ../default.env
    volumes:
      - /tank/containers/radarr:/config
      - /tank/cloud/video/movies:/movies
      - /tank/downloads:/downloads
    expose:
      - 7878
    depends_on:
      - qbittorrent
      - nzbget
      - prowlarr
    labels:
      - "traefik.enable=true"
      - "traefik.http.services.radarr.loadbalancer.server.port=7878"
      - "traefik.http.routers.radarr.middlewares=private@file"

  bazarr:
    image: linuxserver/bazarr:latest
    restart: always
    networks:
      - media
    env_file:
      - ../default.env
    volumes:
      - /tank/containers/bazarr:/config
      - /tank/cloud/video/tv:/tv
      - /tank/cloud/video/movies:/movies
    expose:
      - 6767
    depends_on:
      - sonarr
      - radarr
    labels:
      - "traefik.enable=true"
      - "traefik.http.services.bazarr.loadbalancer.server.port=6767"
      - "traefik.http.routers.bazarr.middlewares=private@file"

  lidarr:
    image: linuxserver/lidarr:latest
    restart: always
    networks:
      - media
    env_file:
      - ../default.env
    volumes:
      - /tank/containers/lidarr:/config
      - /tank/cloud/music:/music
      - /tank/downloads:/downloads
    expose:
      - 8686
    depends_on:
      - qbittorrent
      - nzbget
      - prowlarr
    labels:
      - "traefik.enable=true"
      - "traefik.http.services.lidarr.loadbalancer.server.port=8686"
      - "traefik.http.routers.lidarr.middlewares=private@file"

  mylar:
    image: linuxserver/mylar3:latest
    restart: always
    networks:
      - media
    env_file:
      - ../default.env
    volumes:
      - /tank/containers/mylar:/config
      - /tank/cloud/comics:/comics
      - /tank/downloads:/downloads
    expose:
      - 8090
    depends_on:
      - qbittorrent
      - nzbget
      - prowlarr
    labels:
      - "traefik.enable=true"
      - "traefik.http.services.mylar.loadbalancer.server.port=8090"
      - "traefik.http.routers.mylar.middlewares=private@file"

  calibre:
    image: linuxserver/calibre-web:latest
    restart: always
    networks:
      - media
    env_file:
      - ../default.env
    environment:
      - DOCKER_MODS=linuxserver/mods:universal-calibre
      - OAUTHLIB_RELAX_TOKEN_SCOPE=1
    volumes:
      - /tank/containers/calibre:/config
      - /tank/cloud/books:/books
      - /tank/downloads:/downloads
    expose:
      - 8083
    labels:
      - "traefik.enable=true"
      - "traefik.http.services.calibre.loadbalancer.server.port=8083"
      - "traefik.http.routers.calibre.middlewares=private@file"
